@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 17px;
  }
}

body {
  font-family: "Raleway", sans-serif;
}

.attribution {
  background-color: #1d2c67;
  padding: 1rem 0;
}

.main {
  background-color: #0c122c;
  background-image: url("../images/bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 700px) {
  .main {
    background-image: url("../images/bg-desktop.png");
    background-position: 0 50vh;
  }
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 700px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 2rem;
  }
}

.fylo {
  background-color: #1d2c67;
  padding: 2rem;
  padding-top: 4rem;
  padding-right: 8rem;
  border-radius: 10px;
  border-top-right-radius: 100px;
  width: 100%;
  max-width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  justify-items: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.fylo__logo {
  grid-column: 1 / -1;
}

.fylo__btn {
  padding: 1.5rem 1.5rem;
  background-color: #0c122c;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.fylo__btn--1 {
  background-image: url(../images/icon-document.svg);
}

.fylo__btn--2 {
  background-image: url(../images/icon-folder.svg);
}

.fylo__btn--3 {
  background-image: url(../images/icon-upload.svg);
}

.storage {
  background-color: #1d2c67;
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media only screen and (min-width: 700px) {
  .storage {
    max-width: 100%;
    padding-bottom: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.storage__used {
  color: #dddbff;
}

.storage__used span {
  font-weight: bold;
}

.storage__avaliable-space {
  width: 100%;
  height: 1.5rem;
  border-radius: 30px;
  background-color: #0c122c;
}

.storage__used-space {
  position: relative;
  border: 3px solid #0c122c;
  border-radius: 30px;
  height: calc(100% - 2px);
  width: 85%;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.storage__used-space::after {
  position: absolute;
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background-color: #dddbff;
  border-radius: 50%;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.storage__amount {
  color: #dddbff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.storage__space-left {
  font-size: 2.5rem;
  background-color: white;
  padding: 0.3em 1.1em;
  border-radius: 10px;
  position: absolute;
  bottom: -35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 700px) {
  .storage__space-left {
    top: -50%;
    right: -5rem;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    bottom: auto;
    left: auto;
  }
  .storage__space-left::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: -1.5rem;
    width: 0;
    height: 0;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-right: 1.5rem solid white;
  }
}

.storage__space-left span {
  color: #848794;
  text-transform: uppercase;
  font-size: 0.3em;
}
/*# sourceMappingURL=main.css.map */